<h3>
	Dashboard
	<small>Welcome to Angle !</small>
</h3>
<div class="row">
	<div class="col-lg-3" ng-repeat="dash1 in dashv1List">
		<div class="panel" ng-style="{'background-color':'{{dash1.color}}','color':'#fff'}">
			<div class="row row-table">
				<div class="col-xs-4" ng-style="{'background-color':'{{dash1.deepColor}}','padding-top':'15px','padding-bottom':'15px'}">
							 <em class="{{dash1.icon}} fa-3x"></em>
						</div>
				<div class="col-xs-8">
					<h2>{{dash1.detail}}</h2>
					<div class="text-uppercase">{{dash1.name}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel">
			<div class="row row-table">
				<div class="col-xs-4" style="color: #fff;background-color: #37bc9b">
					<now format="MMMM">
						
					</now>
					<now format="d">
						
					</now>
				</div>
				<div class="col-xs-8">
					<now format="EEEE">
						
					</now>
					<now format="h:mm">
						
					</now>
					<now format="a">
						
					</now>
							
				</div>
			</div>
		</div>
		
	</div>
</div>